<%- include("partials/header.ejs") %>

<div class="container">
    <h1> The beginning of the story</h1>
    <p>Empower UofT students in course selection by eliminating asymmetric information through big data and natural language processing.</p>

    <h1>Technology Stack</h1>
    <p>MEAN + python </p>
    

    <h1> Developers</h1>
    



</div>
<%- include("partials/footer.ejs") %>