<%- include("partials/header.ejs") %>

<div class="container mx-1" style="padding-top: 5%;">

    <h1 class="text-primary-color"> Background</h1>
    <p class="text-justify">As students from University of Toronto (and probably also for many other universities), choosing the courses is always pain. As two "senior" users of Reddit, we found that lots of students will share their thought and their experience of all espects on this social partform. With all these in mind, an idea came cross to us:</p>
    <div class="mx-3 p5 alert alert-info" style="padding: 2%">
        <p>Can we build a dedicated course review platform where we extract students' discussion from Reddit, process them, and then present the result to our community in a visualized method?</p>

      </div>
    <p>And here it comes this project. </p>


    

    <div style="padding-top: 0">
      <h1 class="text-primary-color mt-5 mb-3"> Contact the developers</h1>



      <div class="m-3 mt-4">
        <h4 class="my-3">Jasmine Sun</h4>
        <h6>Role: Web development</h6>
        <h6>Email: jasmine.jysun@gmail.com</h6>
        <a class="btn btn-social btn-linkedin btn-md text-white" href="https://www.linkedin.com/in/jingyi-sun-64a617178">
          <span class="fa fa-linkedin text-white"></span> LinkedIn
        </a>
      </div>
      <div class="m-3 mt-4">
        <h4 class="my-3">Edward Li</h4>
        <h6>Role: Algorithm development</h6>
        <h6>Email: edward.haoran.lee@outlook.com</h6>
        <a class="btn btn-social btn-linkedin btn-md text-white" href="https://www.linkedin.com/in/haoran-li-08078115a">
          <span class="fa fa-linkedin text-white"></span> LinkedIn
        </a>
      </div>

    </div>




    



</div>
<%- include("partials/footer.ejs") %>