<%- include("partials/header.ejs") %>
    <!--Search Bar -->
    <div class='jumbotron'>
      
      <div class="container">
        <h1 class="font-weight-bold"> Rate Your Course</h1>
        <div class="search-form py-5 mx-auto">
          <form action="/search" method="GET">
            <div class="form-row align-items-center">
              <div class="col-sm-3 my-1">
                <label for="inputCourse">Course</label>
                <input type="text" class="form-control" id="inputCourse" name="enteredCourse" placeholder="MAT235, PSY100...">
              </div>

              <div class="col-sm-3 my-1">
                <label for="inputCampus">Campus</label>
                <select id="inputCampus" class="form-control">
                  <option selected>st.George</option>
                  <option>UTM</option>
                  <option>UTSC</option>
                </select>
              </div>
              <div class="col-sm-3 my-1">
                <label for="inputTimeRange">Time Range</label>
                <select id="inputTimeRange" class="form-control">
                  <option selected>Default..</option>
                  <option>past year</option>
                  <option>past 3 years</option>
                </select>
              </div>
              <div class="col-auto my-1">
                <button type="submit" class="btn button-primary mt-4">Submit</button>
              </div>
              
            </div>
          </form>
        </div>
      </div>           
    </div>

    <div class="container">
      <!-- Trending Courses -->
      <h1 class="section-header">Popular BR Courses</h2>
      <hr>
      <h1 class="section-header">Tips and Tricks</h2>
      <div class="w-75 p-3 mx-auto">

          
      </div>

    </div>


<%- include("partials/footer.ejs") %>

