.jumbotron {
    background-image: url(https://static.wixstatic.com/media/a03971_27473bf738b94d799d4e3c64873ac90f~mv2.jpg/v1/fit/w_1024,h_458,al_c,q_80/file.jpg);
    width:100%;
    padding-top: 20%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

  .search-form {
    padding-left:10%;
    padding-right:10%;
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    opacity: 0.9;
    border-radius: 30px;
    background: #f9f9f5
}      

  .button-primary{
    background-color:#c9694b;
    color:white;
}
  .button-secondary{
    color:#5894b1
}



  .bg-half-black {
    background: #ad5133;
}


.primary-color {
    color:#ad5133;
}


.section-header {
  color: #5f5c48;
}

.card-img-top {
  padding-top: 2vw;
  width: 100%;
  height: 15vw;
  object-fit: cover;
}


.trending-course-img {
  padding-top: 2vw;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container{
  padding-bottom: 5%;
}

.card-img-overlay{
  height:20%;
  width: 90%;
  margin-top: 10rem;
  background-color:#ad5133;
  opacity:.8;
}

.overlay111 {
  position: absolute;
  bottom: 0;
  background: #952803;
  background: #952703b0;
  color: white;
  width: 100%;
  transition: 0.7s ease;
  opacity:1;
  color: white;
  font-size: 20px;

  padding: 20px;
  text-align: center;
}

.container111:hover .overlay111 {
  opacity: 0;
}

.container111 {
  position: relative;
  width:100%;
  border: 2px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  border-radius: 10px;
  overflow: hidden;

}

.image111 {
  display: block;
  width: 100%;
  height: auto;
}


.table-row{
  cursor:pointer;
  }
  

  element {
    --google-blue: #4285f4;
    --button-active-blue: #1669F2;

  }


.google-btn {
  width: 200px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
   .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .google-btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    /* font-family: "Roboto"; */
  }
  
google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
google-btn:active {
  background: #1669F2;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:500);